:root {
  --darkgreen: #3b945e;
  --green: #57bb99;
  --lightgreen: #65ccb7;
  --dark: #182626;
  --gray: #f2f2f2;
  --linear: linear-gradient(40deg, rgba(59,148,94,1) 40%, rgba(101,204,183,1) 100%, rgba(242,242,242,1) 100%);
  --darklinear:  linear-gradient(to top right, rgba(24,38,38,1) 10%, rgba(53,130,85,1) 65%, rgba(101,204,183,1) 100%);
}

* {
    box-sizing: border-box;
    outline: none;
}

.text-box {
 width: 100%;
}

h2 {
    display: flex;
    /* background-color: indianred; */
    justify-content: flex-start;
}

form {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60px;
    border-radius: 120px;
}

input {
    border-radius: 120px;
    width: 100%;
    border: none;
    padding: 5px 20px;
    padding-right: 60px;
    font-size: 18px;
}

button {
    border-radius: 22px;
    border: none;
    padding: 13px 11px 11px 12px;
    position: absolute;
    right: 8px;
    width: 44px;
    height: 44px;
    top : 8px;
    background-color: var(--green);
}

button > * {
    color: white;
    font-size: 18px;
}

