body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#display{
  /* align-items: center; */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background-color: floralwhite;
}

#root{
  display: flex;
    justify-content: center;
    background-color: aquamarine;
    margin: 20px;
    padding: 20px;
}

